<ayn-page-header>
    <ng-container header>All Campaigns</ng-container>
    <ng-container subHeader>See your all campaigns and drafts, turn them on or off and dive in to
        details.</ng-container>
</ayn-page-header>

<div class="ayn-panel">
    <div class="ayn-panel-header">

        <div class="ayn-toolbar">

            <div class="ayn-toolbar-section ayn-toolbar-section-start">
                <!--TODO: A new component for tabs.-->
                <ul>
                    <li>Campaigns<i class="fa-solid fa-rocket"></i></li>
                    <li>Drafts<i class="fa-regular fa-floppy-disk"></i></li>
                </ul>
            </div>

            <div class="ayn-toolbar-section ayn-toolbar-section-end">
                <select [value]="-30">
                    <option value="-3">Last 3 Day</option>
                    <option value="-7">Last 7 Day</option>
                    <option value="-30">Last 30 Day</option>
                </select>
            </div>

        </div>
    </div>
    <div class="ayn-panel-body">
        <div class="ayn-toolbar">
            <div class="ayn-toolbar-section ayn-toolbar-section-start">
                <button type="button" class="ayn-button ayn-button-fancy ayn-button-rounded">
                    Create New Campaign
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button class="ayn-button ayn-button-outline ayn-button-success ayn-button-rounded">
                    Turn On
                    <i class="fa-solid fa-play"></i>
                </button>
                <button class="ayn-button ayn-button-outline ayn-button-warning ayn-button-rounded">
                    Turn Of
                    <i class="fa-solid fa-pause"></i>
                </button>
            </div>
            <div class="ayn-toolbar-section ayn-toolbar-section-end">
                <i id="refreshIcon" class="fa-solid fa-rotate-right"></i>
                <span class="ayn-input-icon">
                    <input type="text" class="ayn-input ayn-input-rounded"
                        (aynDelayedInput)="handleFilter($event)"
                        (emptyInput)="handleFilterClear()"
                        placeholder="Type name or id to filter" />
                    <i class="fa-solid fa-search text-primary"></i>
                </span>

            </div>
        </div>
    </div>
</div>